build/
/target
/tests/failed_txs
/test-vector*

/corpus*
/hfuzz_target
/hfuzz_workspace
/fuzzing/fuzzing_syscalls_all_in_one.h
/fuzzing/dumps
/fuzzing/corpus*
/fuzzing/*.o
/fuzzing/leaf*.complete
/fuzzing/leaf*intermediate/
/fuzzing/*_fuzzer
/fuzzing/binary_to_text_converter
